# MongoDB Atlas
MONGODB_URI=mongodb+srv://<DB_USER>:<DB_PASSWORD>@<CLUSTER_URL>/?retryWrites=true&w=majority
MONGODB_DB=TAX-JIKIMI

# JWT
JWT_SECRET=""
JWT_ALGORITHM=HS256

# OpenAI
OPENAI_API_KEY=""
OPENAI_MODEL=""

# CORS
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://tax-jikimi.vercel.app